.wrapper {
	padding: 0px 40px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}
.home-first {
	height: 50px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
}
.margin-10 {
	margin: 0px 10px;
}
.search {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.icon {
	width: 50px;
	height: auto;
}
#vertical-line {
	border: 0.5px;
	border-style: solid;
	border-color: black;
}
#button-home-first {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#home-link-first {
	text-decoration: none;
	color: black;
}
#home-link-first:hover {
	color: darkgray;
	transition: 0.3s;
}
.search-bar {
	border: 2px;
	border-style: solid;
	border-radius: 24px;
	border-color: black;
	height: 70%;
	padding: 0px 24px;
}
.search-bar:hover {
	border-color: darkgray;
	transition: 0.3s;
}
.search-bar::placeholder {
	text-align: center;
	color: gray;
}
#menu-burger-first {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#menu-burger-first:hover {
	cursor: pointer;

}
.separator{
	margin: 20px 0px;
}
.pictures{
	display: flex;
	width: 15%;
	justify-content: space-around;
}